*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}
ul[class],
ol[class] {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
article > * + * {
    margin-top: 1em;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}
.banner {
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(background-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.header  {
    margin-top: 17px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.navbar {
    margin-left: 165px;
}
.logo {
    display: inline-block;
}
.brand {
    display: inline-block;
    margin-left: 9.9px;
}